.tabs {
  border-bottom: 1px solid #ccc;
  margin-bottom: 35px; }

.tab {
  padding-bottom: 5px;
  margin-bottom: -1px;
  border-bottom: 1px solid transparent;
  color: #ccc;
  font-family: Montserrat-Regular;
  cursor: pointer;
  user-select: none;
  transition: all .4s; }
  .tab:hover {
    color: #000;
    border-bottom: 1px solid black; }

@-webkit-keyframes form-move {
  0% {
    opacity: 0;
    margin-left: -400px; }
  100% {
    opacity: 1;
    margin-left: 0; } }

@-moz-keyframes form-move {
  0% {
    opacity: 0;
    margin-left: -400px; }
  100% {
    opacity: 1;
    margin-left: 0; } }

@-ms-keyframes form-move {
  0% {
    opacity: 0;
    margin-left: -400px; }
  100% {
    opacity: 1;
    margin-left: 0; } }

@keyframes form-move {
  0% {
    opacity: 0;
    margin-left: -400px; }
  100% {
    opacity: 1;
    margin-left: 0; } }

.wrap-input100 {
  margin-left: -400px;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-name: form-move;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0.6s;
  -moz-animation-name: form-move;
  -moz-animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-duration: 0.6s;
  animation-name: form-move;
  animation-fill-mode: forwards; }

.active {
  color: #000;
  border-bottom: 1px solid black; }
