
@each $i in 0, 8, 12, 16, 24, 32, 48, 64, 96, 128, 256 {
  .padY-#{$i} { padding-top: $i * 1px; padding-bottom: $i * 1px; }
  .padTop-#{$i} { padding-top: $i * 1px; }
  .padBottom-#{$i} { padding-bottom: $i * 1px; }

  .marginY-#{$i} { margin-top: $i * 1px; margin-bottom: $i * 1px; }
  .marginTop-#{$i} { margin-top: $i * 1px; }
  .marginRight-#{$i} { margin-right: $i * 1px; }
  .marginBottom-#{$i} { margin-bottom: $i * 1px; }
}
