@import "./forms.scss";
@import "./buttons.scss";
@import "./grids.scss";
@import "./text.scss";
@import "./paddings.scss";

// $fa-font-path: "../../node_modules/font-awesome/fonts";
// @import "../../node_modules/font-awesome/scss/font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  height: 100%;
  font-size: 16px;
  color: #434343;
}

html {
  height: 100%;
}

ul {
  list-style: none;
}

.fullWidth {
  width: 100%;
}

.halfWidth {
  width: 50%;
}

.mSectionWidth {
  width: 786px;
  margin: 0 auto;
}

.pageWidth {
  max-width: 1024px;
  margin: 0 auto;
}

.textCenter {
  text-align: center;
}

.marginCenter {
  margin-left: auto;
  margin-right: auto;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}