.nav {
	background-color: #8e0038;
	padding: 16px 0;

	.inner {
		display: block;

        &:before {
            display: table;
            content: '';
        }

        &:after {
            display: table;
            content: '';
            clear: both;
        }
	}

	.left {
		float: left;

		li {
			margin-right: 20px;
		}
	}

	.right {
		float: right;

		li {
			margin-left: 20px;
		}
	}


	a {
		color: #ffffff;
		font-weight: 800;
		text-decoration: none;

		&:hover {
            text-decoration: underline;
        }
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
        position: relative;
	}
}